// create an input field to take user's name
// store that name in state 
// if user hasn't entered a name 
// deactivate send button and/or render error message telling user to enter a name // do this in App.vue 
// capture name from state and send through gorill socket configuration so that all users can see their names
// display name in each message box
// dynamically set user names to go either left or right depending on current name

<template>
<!-- removed @keyup.enter="sendMessage(currentMessage" to fix double message bug -->
<!-- center layout -->
<v-layout
    column
    align-center
    @keydown.enter.prevent
  >
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="snackbar"
      color="error"
    >
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <!-- v-flex depreciated  -->
    <v-container fluid>
      <v-row>
        <!-- remove padding bottom margins to remove space between name and message -->
        <v-col cols="12" class="pb-0">
          <p class="float-right font-weight-bold mb-0">{{current_user}}</p>
        </v-col>
      </v-row>
        <v-row
          v-for="message in messages"
          :key="message.timestamp"
        >
        <!-- remove padding top margins for main user to remove space between name and message -->
          <v-col cols="12" :class="message.uuid === uuid ? 'pt-0' : ''">             
            <v-chip
              v-if="message.uuid === uuid"
              text-color="white"
              color="primary"
              class="float-right"
              label>
                {{message.text}}
            </v-chip>
            <!-- move message to the left of screen if incoming message uuid does not match uuid of main user -->
             <div v-if="message.uuid !== uuid" class="float-left">
               <p class="font-weight-bold mb-0 grey--text"><small>{{message.currentname}}</small></p>
              <v-chip
                
                text-color="primary"
                outlined
                color="primary"
                label>
                
                  {{message.text}}
              </v-chip>
            </div>
          </v-col>
        </v-row>
        <v-text-field
          label="New Message"
          v-model="currentMessage"
          class="mt-12"
        >
        </v-text-field>
        <!--  -->
        <v-btn
        elevation="9"
          @click.prevent="sendMessage(currentMessage)" 
          @keydown.enter.prevent
          @keyup.enter="sendMessage(currentMessage)"
        >
          Send
        </v-btn>
        <!-- v-flex depreciated  -->
    </v-container>
  </v-layout>

</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import * as axios from 'axios'

// take username props being passed into Chat.vue from App.vue 
// add current_user attribute to store user's input in username text field 
export default {
  props: ['username'],
  data: () => ({
    snackbar: false,
    currentMessage: "",
    messages: [],
    totalChatHeight: 0,
    connection: {},
    errorMessage: "",
    uuid: "",
    current_user: '',
    backendHealthy: false
  }),

// update this.current_user with string value being passed from App.vue input-text-field 
// update will be added to message object allowing username data to be available to frontend components
  watch: {
    username(newValue){
      this.current_user = newValue
    }
  },

  created() {
    this.uuid = uuidv4()

    this.checkBackend()

    this.$socket.onmessage = (message) => {
      const data = JSON.parse(message.data)
      data.timestamp = Date.now()
      this.messages.push(data)
    }

    this.$socket.onopen = function() {
      console.log('successfully connected to the websocket server')
    }
  },

// add current user to message object
  methods: {
    sendMessage: function(text) {
      const message = JSON.stringify({
        text,
        currentname: this.current_user,
        uuid: this.uuid
      })
      this.$socket.send(message)
    },
    checkBackend: function() {
      axios.get('http://localhost:3000/health')
        .then((res) => {
          if (res.status === 200 && res.data.ok === true) {
            //console.log('backend is healthy')
            this.backendHealthy = true
            return
          } else {
            // console.log(`backend check failed, response code was ${res.status}, data was ${res.data}`)
            setTimeout(() => this.checkBackend(), 10000)
          }
        })
        .catch((err) => {
          console.log(err)
          console.log("backend not healthy yet, retrying")
          setTimeout(() => this.checkBackend(), 10000)
        })
    }
  }
}
</script>
