<template>
  <v-app>
    <!-- align items at center of v-app-bar-->
    <!-- hide header on scroll -->
    <v-app-bar
      app
      color="primary"
      dark
      class="justify-space-between"
      hide-on-scroll
      fixed
    >
      <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down "
          contain
          min-width="100"
          src="https://cdn.upchieve.org/docs/logo.svg"
          width="100"
      />
       <v-spacer />
       <!-- text-field will take user's name and store it in user_name -->
        <v-text-field placeholder="Enter your name here" counter="10" :rules="rules" v-model="user_name"></v-text-field>
      <v-spacer />
      <div class="hidden-sm-and-down shrink hidden-box"></div>
    </v-app-bar>

<!-- pass username <= user_name props to Chat component for message packaging and rendering -->
    <v-main>
      <Chat :username="user_name" />
    </v-main>
  </v-app>
</template>

<script>
import Chat from './components/Chat';

export default {
  name: 'App',

  components: {
    Chat,
  },

// define user_name state and rules logic for text-field
  data: () => ({
    user_name: '',
    rules: [v => v.length <= 10 || 'Max 10 characters'],
  }),
};
</script>

// fix display bug. logo must disappear when entering mobile viewpoint
<style scoped>

.hidden-box {
  width: 100px;
}

</style>